/*
blue1   #96ceb4
cream   #fff0cd
pink    #ff6f69
yellow  #ffcc5c
blue2   #88d8b0
grey1   #888888
grey2   #444444
black   #000000
*/

@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    background-color: #fff0cd;
    color: #444;
    font-family: 'Muli', sans-serif;
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    letter-spacing: 0.05em;
    color: #000;
}

h1 {
    height: 2rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    padding: 0.1rem;
    margin: : 0.1rem;
    border: 1px solid transparent;
}

main {
    padding: 1rem;
}

article > header {
    height: 10%;
}

.note-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
    line-height: 1rem;
}

.note-body {
    display: block;
    padding: 0.5rem;
    height: 15%;
    border: 1px solid #444444;
    resize: vertical;
    overflow-y: auto;
    z-index: 1;
    margin-bottom: 1rem;
}

.note-children {
    display: block;
    height: 65%;
}

.mirror-horizontal {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* Additions/Tweaks to Materialize & material.io */

img.logo {
    width: 1em;
    height: 1em;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1em;
    vertical-align: top;
    margin-top: 4px;
}

nav .brand-logo {
    font-family: 'Tangerine', cursive;
    font-size: 4rem;
}

.folder-container li .icon {
    margin-right: 0.5rem;
}

.card.small {
    height: 160px;
}

/* Editable Content */

*[contenteditable="true"] {
    outline: none;
}

*[contenteditable="true"]:hover {
    box-shadow: inset 0 1px 2px 0 #888;
}

*[contenteditable="true"]:focus {
    cursor: text;
    border: 1px solid #888888;
    background-color: #fff;
}

*[contenteditable="true"]::before {
    font-family: "FontAwesome"; 
    font-weight: 400; 
    content: "\f040";
    transform: scaleX(-1);
    width: 1rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

*[contenteditable="true"]:focus::before {
    content: '';
}

.note-card-icons {
    display: inline-block;
    margin-right: 0.2rem;
    vertical-align: middle;
}

.note-card-title {
    display: inline-block;
    margin-top: auto;
}

.mdc-card {
    margin: 16px;
}
/* Colours */
/*
See here for a pallete generator: https://material.io/design/color/the-color-system.html#tools-for-picking-colors
Base it on the primary colour.
*/

.primary-colour {
    background-color: #607d8b;
}

.complementary-colour {
    background-color: #8b6e60;
}

.analogous-color-1 {
    background-color: #608b84;
}

.analogous-color-2 {
    background-color: #60678b;
}

.triadic-colour {
    background-color: #8b607d;
}

a.primary-colour:hover,
.btn.primary-colour:hover,
button.primary-colour:hover {
    background-color: #546e7a;
}

a.complementary-colour:hover,
.btn.complementary-colour:hover,
button.complementary-colour:hover {
    background-color: #775644;
}

a.analogous-color-1:hover,
.btn.analogous-color-1:hover,
button.analogous-color-1:hover {
    background-color: #597b74;
}

a.analogous-color-2:hover,
.btn.analogous-color-2:hover,
button.analogous-color-2:hover {
    background-color: #474e7a;
}

a.triadic-colour:hover,
.btn.triadic-colour:hover,
button.triadic-colour:hover {
    background-color: #774e69;
}